<div id="filters-container">
  <div class="filters well well-lg col-lg-12" aria-expanded="true" id="filters-panel">
    <div class="filter-type">
      <label class="filter-type-heading">Phase</label>

      <div class="btn-group school-type" role="group" aria-label="School type">
        <div class="btn-group" role="group">
          <%= school_filter_link 'Primary', :phase, 'primary'  %>
        </div>
        <div class="btn-group" role="group">
          <%= school_filter_link 'Secondary', :phase, 'secondary'  %>
        </div>
        <div class="btn-group" role="group">
          <%= school_filter_link 'Junior', :phase, 'junior'  %>
        </div>
        <div class="btn-group" role="group">
          <%= school_filter_link 'Infant', :phase, 'infant'  %>
        </div>
        <div class="btn-group" role="group">
          <%= school_filter_link 'All', :phase, :all %>
        </div>
      </div>
    </div>

    <div class="filter-type">
      <label class="filter-type-heading">Admissions Policy</label>

      <div class="btn-group admission-policy" role="group" aria-label="School type">
        <div class="btn-group" role="group">
          <%= school_filter_link 'Community', :admissions_policy, 'community', glyphs: 'community'  %>
        </div>
        <div class="btn-group" role="group">
          <%= school_filter_link 'Own', :admissions_policy, 'own_admissions_policy',
                                 glyphs: 'own-admissions-policy' %>
        </div>
        <div class="btn-group" role="group">
          <%= school_filter_link 'All', :admissions_policy, :all%>
        </div>
      </div>
    </div>

    <div class="filter-type">
      <%= form_tag(schools_path, method: 'get', role: 'form') do %>
        <%= hidden_field_tag(:admissions_policy, params[:admissions_policy]) %>

        <label class="filter-type-heading" for="containing_text">Containing text</label>

        <div class="input-group">
          <%= text_field_tag 'containing_text', params[:containing_text], class: 'form-control', placeholder: 'Containing...' %>
          <span class="input-group-btn">
          <%= button_tag 'Search', name: nil, class: 'btn btn-default' %>
        </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
