<dl class="admissions-graph">
  <% School.priorities.each do |attr| %>
    <dt><%= long_priority(attr) %></dt>
    <dd>
      <label>
        <a data-toggle="popover" data-trigger="focus"
           data-placement="bottom" data-content="<%= tooltip(attr) %>"
           href="#" title="<%= long_priority(attr) %>"
        >
          <%= short_priority(attr) %>
          <span class="<%= attr %>"></span>
        </a>
      </label>

      <div class="bar <%= attr %>" style="height: <%= priority_height_percent(@school, attr) %>;" title="<%= long_priority(attr) + ' - ' + tooltip(attr) %>"></div>
      <div class="value"><%= @school.send(attr) || 0 %></div>
    </dd>
  <% end %>
</dl>

<script type="application/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover({ container: 'body'})
  })
</script>
