<%= content_for :head do %>
  <link rel="alternate"
        type="application/vnd.geo+json"
        href="<%= school_path(@school, format: :geojson) %>">
<% end %>

<div class="school row">

  <div class="col-sm-7 margin-after">
    <h1>
      <%= @school.name %>
      <small class="places"><%= @school.available_places %> places</small>
    </h1>

    <%= contention_for(@school) %>
  </div>


  <div class="col-sm-5">
    <% if @school.priority_stats? %>
      <%= render 'priority_graph' %>
    <% end  %>
  </div>


  <div id="map"></div>

  <%= render 'details' %>
</div>

